<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Accueil", '#' %></li>
      <li><%= link_to "Résultats", '#' %></li>
      <li><%= link_to "Graphiques", '#' %></li>
      <li><a href="http://news.railstutorial.org/">Le Site</a></li>
      <li><a href="http://www.railstutorial.org/">le Facebook </a></li>
    </ul>
  </nav>
</footer>
